$fontFam: 'Roboto',
sans-serif;
$cardcol: #22B8B3;
$cardbacol: #1C2326;
$colcol: rgb(252, 249, 249);
$colcolW: #FFFFFF;
$bgcolor: #B3B7B8;
$cardblu: #1AB4B2;

.blog-color {
    background-color: $grey-margin-color;
}

.card {
    font-family: $fontFam;
    margin: 5px;

    &__card-body {
        text-align: center;
        color: white;
        background-color: $cardblu;
        padding: 11px;
        font-family: $fontFam;
    }

    &__card-body--q {
        background-color: $cardbacol;
        border-left: 25px solid $cardblu;
        padding: 10px;
        text-align: left;
        color: $colcol;
        border-right-color: gray;
        font-family: $fontFam;
        font-size: 0.8rem;
    }

    &__card-body--c {
        color: $cardcol;
        text-align: center;
        font-size: 1.5rem;
    }

    &__card-body--p {
        color: $cardcol;
        padding: 0px;
        text-align: center;
        font-size: 3rem;
    }

    &__card-body--W {
        background-color: $colcol;
        padding: 5px;
        text-align: left;
        font-size: 0.9rem;
    }

    &__card-body--ic {
        color: $bgcolor;
        font-size: 1.1rem;
        margin: 4px;
    }

    &__card--body__text-muted {
        color: $colcol;
        font-size: 0.9rem;
        margin: 4px;
    }

    &__card--body__text-muted--W {
        font-size: 0.9rem;
        color: $bgcolor;
    }
}

.card:hover {
    box-shadow: 6px 4px 5px 0px #888888;
}

.bt-no {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0.9px;
    position: sticky;

    &__item {
        width: 150px;
        background-color: #1AB4B2;
        color: $colcol;
        padding: 10px;
        border: none;
        border-radius: 10px 10px 0px 0px;
    }
}
