$sidebarColor: #232B2E;
$menuBtnColor: #2E3639;
$menuBtnHover: #24AEAE;

$white-color: #f3f3f3;
$grey-color: #e2e2e2;
$grey-margin-color: #b3b7b8;
$green-color: #1ab5b3;
$text-color: #a3a3a3;
$headline-color: #000000;
$roundness: 20px 0 20px 0;